@font-face {
  font-family: Poppins;
  src:
    url('/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
    url('/fonts/Poppins/Poppins-Medium.woff') format('woff'),
    url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg: #1b1930;
  --text: #f5f5f5;
  --color: #92c6e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

button,
input {
  outline: none;
  border: none;
  font-size: unset;
}

body {
  background: #000;
}

p {
  line-height: 1.5rem;
}

:is(p, h1, h2, h3, a)::selection {
  color: black;
  background: white;
}

a {
  text-decoration: none;
}

img {
  user-select: none;

}