---
import Contacts from '../components/Contacts.astro'
import Intro from '../components/Intro.astro'
import Projects from '../components/Projects.astro'
import IndexPage from '../layouts/Index.astro'
---

<!-- add links de reference -->
<IndexPage title="Briefcase">
  <main>
    <Intro />
    <Projects />
    <Contacts />
  </main>
</IndexPage>

<style>
  main {
    scroll-behavior: smooth;
  }
</style>
