---
import Contacts from '../components/Contacts.astro'
import Hero from '../components/Hero.astro'
import Profile from '../components/Profile.astro'
import Projects from '../components/Projects.astro'
import IndexPage from '../layouts/Index.astro'
---

<IndexPage title="CAMILOITT - Desarrollador fullstack">
  <main>
    <Hero />
    <Profile />
    <Projects />
    <Contacts />
  </main>
</IndexPage>

<style>
  main {
    scroll-behavior: smooth;
  }
</style>
