---
import { CONTACT_LINKS } from '../const/socialLinks'
import FormContact from './FormContact.astro'
import Notification from './Notification.astro'
---

<section class="contacts">
  <Notification id="Notification" />
  <div
    class="card-contact"
    id="Contact">
    <h2>Contactame</h2>
    <p class="message">
      ¡Estoy emocionado por conectarme contigo! <br /> No dudes en enviarme un mensaje
      y estaré encantado de responder.
      <!-- <br />
       ¡Hablemos! Estoy aquí para escuchar tus ideas y proyectos. ¡Contáctame y
      empecemos a trabajar juntos!
      <br />
       Si tienes alguna pregunta o simplemente quieres charlar sobre proyectos
      interesantes, ¡no dudes en ponerte en contacto conmigo! Estoy aquí para
      ayudarte. -->
    </p>
    <div class="information-contact">
      <FormContact />
      <div class="links-contact">
        {
          CONTACT_LINKS.map(({ name, url, Icon, txt }) => (
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              arial-label={`link to me ${name} profile`}>
              <Icon />
              {/* {txt} */}
              <span>{txt}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  .contacts {
    display: flex;
    justify-content: center;
    padding-block: 90px;
  }

  .card-contact {
    min-width: 300px;
    width: 80%;
    padding: 50px 10px 20px;
    background: rgba(255, 255, 255, 0.668);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.4rem;
    animation: contact-in;
    animation-timeline: view(y 20% -30%);
    animation-duration: 0.25s;

    & .message {
      max-width: 600px;
    }
  }

  @keyframes contact-in {
    from {
      width: 50%;
      opacity: 0;
    }
    to {
      width: 80%;
      opacity: 1;
    }
  }

  .information-contact {
    container: links-contacts / inline-size;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    gap: 20px 10px;
    /* padding-block: 2.3rem; */

    & > .links-contact {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-self: flex-end;

      & > a {
        color: var(--bg);
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 5px;

        & > span {
          @container links-contacts (max-width: 300px) {
            display: none;
          }
        }
      }

      @container links-contacts ( max-width: 300px) {
        flex-direction: row;
      }
    }
  }
</style>
