---
import EmailIcon from '../assets/icons/social/EmailIcon.astro'
import GithubIcon from '../assets/icons/social/GithubIcon.astro'
import LinkedinIcon from '../assets/icons/social/LinkedinIcon.astro'
import FormContact from './FormContact.astro'
import Notification from './Notification.astro'

const socialLinks = [
  {
    name: 'Github',
    url: 'https://github.com/camilo-torres',
    Icon: GithubIcon,
    txt: 'CAMILOITT',
  },
  {
    name: 'Linkedin',
    url: 'https://www.linkedin.com/in/camilo-torres-9b6b9a1b5/',
    Icon: LinkedinIcon,
    txt: 'CAMILO TORRES',
  },
  {
    name: 'Email',
    url: 'mailto:camilocamilo5@outlook.com?subject=Solicitud de contacto&body=Estoy interesado en tu trabajo y me gustaría discutir oportunidades de trabajo junto.',
    Icon: EmailIcon,
    txt: 'camilocamilo5@outlook.com',
  },
]
---

<section class="contacts">
  <Notification id="Notification" />
  <div
    class="card-contact"
    id="Contact">
    <h2>Contactame</h2>
    <p class="message">
      ¡Estoy emocionado por conectarme contigo! <br /> No dudes en enviarme un mensaje
      y estaré encantado de responder.
      <!-- <br />
       ¡Hablemos! Estoy aquí para escuchar tus ideas y proyectos. ¡Contáctame y
      empecemos a trabajar juntos!
      <br />
       Si tienes alguna pregunta o simplemente quieres charlar sobre proyectos
      interesantes, ¡no dudes en ponerte en contacto conmigo! Estoy aquí para
      ayudarte. -->
    </p>
    <div class="information-contact">
      <FormContact />
      <div class="links-contact">
        {
          socialLinks.map(({ name, url, Icon, txt }) => (
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              arial-label={`link to me ${name} profile`}>
              <Icon />
              {txt}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 90px;
  }

  .card-contact {
    width: 80%;
    padding: 50px 20px 20px;
    background: rgba(255, 255, 255, 0.668);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.4rem;
    animation: contact-in;
    animation-timeline: view(y 20% -30%);
    animation-duration: 0.25s;
  }

  @keyframes contact-in {
    from {
      width: 50%;
      opacity: 0;
    }
    to {
      width: 80%;
      opacity: 1;
    }
  }

  .message {
    max-width: 600px;
  }

  .information-contact {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    gap: 20px 10px;
    padding-block: 2.3rem;
  }

  .links-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: flex-end;
  }
  .links-contact a {
    color: var(--bg);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
  }
</style>
