<section>
  <div>
    <h2>Contacto</h2>
    <p>mensaje emocionante</p>
    <a
      href="http://"
      target="_blank"
      rel="noopener noreferrer">
      linkedin
    </a>

    <a
      href="http://"
      target="_blank"
      rel="noopener noreferrer">
      github
    </a>

    <a
      href="http://"
      target="_blank"
      rel="noopener noreferrer">
      correo
    </a>
  </div>
</section>
