---
import IntroInfo from './IntroInfo.astro'
import Skills from './Skills.astro'
---

<section class="intro">
  <IntroInfo />
  <Skills />
</section>

<style>
  .intro {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: white;
    gap: 0.5rem;
  }
  @media screen and (width <= 700px) {
    .intro {
      flex-direction: column;
      gap: 40px;
      padding-top: 80px;
    }
  }
</style>
