---
import LinkedinIcon from '../assets/icons/social/LinkedinIcon.astro'
import GithubIcon from '../assets/icons/social/GithubIcon.astro'
import CVIcon from '../assets/icons/social/CVIcon.astro'
---

<script>
  const button = document.querySelector('#BtnContact') as HTMLButtonElement

  button.addEventListener('mousemove', e => {
    const { clientX, clientY } = e

    const { left, top } = (
      e.currentTarget as HTMLButtonElement
    ).getBoundingClientRect()

    const x = Math.floor(clientX - left)
    const y = Math.floor(clientY - top)

    button.style.setProperty('--y', y + 'px')
    button.style.setProperty('--x', x + 'px')
  })
</script>

<div class="info-me">
  <h1 class="name">Camilo Torres</h1>
  <h2 class="profession">Fullstack Developer</h2>
  <p class="introduction">
    ¡Hola! Soy un apasionado desarrollador. Mi enfoque se centra en crear
    experiencias web excepcionales y funcionales. Bienvenido a mi portafolio,
    donde podrás explorar algunos de mis proyectos y conocer más sobre mi
    trabajo en el emocionante mundo del desarrollo web.
  </p>
  <div class="navegation">
    <div class="social">
      <a
        href="https://www.linkedin.com/in/camilo-israel-torres-tufiño-812b6a235/"
        target="_blank"
        rel="noopener noreferrer">
        <LinkedinIcon />
      </a>
      <a
        href="https://github.com/CAMILOITT"
        target="_blank"
        rel="noopener noreferrer">
        <GithubIcon />
      </a>
      <a
        href="https://docs.google.com/document/d/15GofteV8oRYbcxbblRIbflobqQmu1T2mOgOQV3CPCVU/edit?fbclid=IwAR2YNFAyqwdMW-dg4-eig54dRJqy7r7Y9GtCDi6HLhR2mhfQTyCOo6cjjnw"
        target="_blank"
        rel="noopener noreferrer">
        <CVIcon />
      </a>
    </div>
    <a
      href="#Contact"
      id="BtnContact"
      >Contactame</a
    >
  </div>
</div>

<style>
  .info-me {
    max-width: 500px;
  }
  .name {
    font-size: clamp(2rem, 8vw, 4rem);
  }
  .profession {
    font-size: clamp(1.3rem, 5vw, 1.5rem);
    margin-block: 0rem 1rem;
    letter-spacing: 0.08rem;
  }
  .introduction::selection {
    background: white;
    color: black;
  }
  .navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .navegation > a {
    color: #1b1930;
    text-decoration: none;
    background: var(--text);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  .navegation > a {
    --x: 50%;
    --y: 50%;
    color: #1b1930;
    text-decoration: none;
    background: var(--text);
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
  }
  .navegation > a::before {
    --size: 0;
    content: '';
    width: var(--size);
    height: var(--size);
    top: var(--y);
    left: var(--x);
    position: absolute;
    translate: -50% -50%;
    backdrop-filter: invert(150%);
    border-radius: 50%;
    transition:
      0.5s width,
      0.5s height,
      0.5s opacity;
    opacity: 0.5;
  }

  .navegation > a:hover::before {
    --size: 100px;
    opacity: 1;
  }

  /* links social */
  .social {
    display: flex;
    gap: 1rem;
  }
  .social a {
    color: var(--text);
    text-decoration: none;
    background: rgba(255, 255, 255, 0.283);
    display: grid;
    place-content: center;
    padding: 2px;
    border-radius: 3px;
  }

  @media screen and (width <= 375px) {
    .social {
      gap: 0.5rem;
    }
  }
</style>
