<ul class="navegation">
  <li>home</li>
  <li>acerca de mi</li>
  <li>project</li>
  <li>contacto</li>
</ul>

<style>
  .navegation {
    position: fixed;
    top: 50%;
    left: 10px;
    translate: 0 -50%;
    background: whitesmoke;
    padding: 20px 10px;
    display: grid;
  }
</style>
