---
import listProject from '../const/projects'
import Card from './Card.astro'
---

<section class="projects">
  <!-- a;adir una descripcion larga -->
  <!-- a;adir caracteristicas de la aplicacion como minimo 3 y como maximo 5 -->
  {
    listProject.map(({ title, description, img, tag }) => (
      <Card
        title={title}
        description={description}
        img={img.src}
        listTech={tag}
      />
    ))
  }
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 0.5rem;
    position: relative;
    scroll-timeline: --project y;
    max-width: 100dvw;
  }
</style>

<!--
    description="página web para dibujar en pixeles"
    -->
