---
import Badge from './Badge.astro'
---

<div class="skills">
  <h3>Tecnologías</h3>
  <p class="skills-desc">Las tecnologías que utilizo en mi día en día son.</p>
  <ul class="list-skills">
    <Badge
      name="HTML"
      bg="#e34c26"
    />
    <Badge
      name="CSS"
      bg="#264de4"
    />
    <Badge
      name="JavaScript"
      bg="#c8a70d"
    />
    <Badge
      name="Typescript"
      bg="#007acc"
    />
    <Badge
      name="Figma"
      bg="#"
    />
    <Badge
      name="Python"
      bg="#3776ab"
    />
    <Badge
      name="IA"
      bg="#"
    />
    <Badge
      name="PHP"
      bg="#777bb4"
    />
    <Badge
      name="Vue"
      bg="#42b883"
    />
    <Badge
      name="React"
      bg="#1588b2"
    />
    <Badge
      name="Astro"
      bg="#ff5a03"
    />
  </ul>
</div>

<style>
  .skills {
    color: white;
    max-width: 300px;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .skills-desc {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 1rem;
  }
  .list-skills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    width: 100%;
    font-weight: bold;
  }
  .list-skills li {
    font-size: 0.9rem;
    color: #bbb;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .list-skills li::before {
    content: '•';
    color: #fff;
  }
</style>
