---
import AstroIcon from '../assets/icons/tech/AstroIcon.astro'
import CssIcon from '../assets/icons/tech/CssIcon.astro'
import ExpressIcon from '../assets/icons/tech/ExpressIcon.astro'
import FigmaIcon from '../assets/icons/tech/FigmaIcon.astro'
import GitIcon from '../assets/icons/tech/GitIcon.astro'
import GithubIcon from '../assets/icons/tech/GithubIcon.astro'
import HtmlIcon from '../assets/icons/tech/HtmlIcon.astro'
import JavascriptIcon from '../assets/icons/tech/JavascriptIcon.astro'
import MongoDBIcon from '../assets/icons/tech/MongoDBIcon.astro'
import NodeIcon from '../assets/icons/tech/NodeIcon.astro'
import PostgreSQLIcon from '../assets/icons/tech/PostgreSQLIcon.astro'
import PugIcon from '../assets/icons/tech/PugIcon.astro'
import ReactIcon from '../assets/icons/tech/ReactIcon.astro'
import SassIcon from '../assets/icons/tech/SassIcon.astro'
import TailwindIcon from '../assets/icons/tech/TailwindIcon.astro'
import TypescriptIcon from '../assets/icons/tech/TypescriptIcon.astro'
const listknowledgeTech = [
  // front
  { name: 'HTML', Icon: HtmlIcon },
  { name: 'PUG', Icon: PugIcon },
  { name: 'CSS', Icon: CssIcon },
  { name: 'sass', Icon: SassIcon },
  { name: 'Tailwind', Icon: TailwindIcon },
  { name: 'JavaScript', Icon: JavascriptIcon },
  { name: 'TypeScript', Icon: TypescriptIcon },
  { name: 'React', Icon: ReactIcon },
  { name: 'Astro', Icon: AstroIcon },
  // back
  { name: 'Node', Icon: NodeIcon },
  { name: 'Express', Icon: ExpressIcon },
  { name: 'MongoDB', Icon: MongoDBIcon },
  { name: 'postgreSQL', Icon: PostgreSQLIcon },
  // otros
  { name: 'Git', Icon: GitIcon },
  { name: 'GitHub', Icon: GithubIcon },
  { name: 'Figma', Icon: FigmaIcon },
  // { name: 'Adobe Illustrator', icon:  },
]
---

<div class="skills">
  <h2>Conociminentos</h2>
  <ul class="list-skills">
    {
      listknowledgeTech.map(({ name, Icon }) => (
        <li
          class="skill"
          data-name={name}>
          <Icon />
        </li>
      ))
    }
  </ul>
</div>

<style>
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 250px;
    color: white;
  }
  h2 {
    margin-bottom: 1rem;
    grid-column: span 2;
  }
  .list-skills {
    --columns: 5;
    --rows: 4;
    --gap: 5px;
    --size: 50px;
    overflow: hidden;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(var(--columns), var(--size));
    gap: var(--gap);
    width: calc(var(--size) * var(--columns) + var(--gap) * var(--columns));
    height: calc(var(--size) * var(--rows) + var(--gap) * var(--rows));
  }
  .skill {
    width: var(--size);
    height: var(--size);
    background: lightsalmon;
    animation: moveList 15s infinite alternate;
    display: grid;
    place-content: center;
    padding: 5px;
    border-radius: 5px;
  }
  .skill > svg {
    width: 100%;
    height: 100%;
    stroke: white;
    stroke-width: 2px;
  }
  @keyframes moveList {
    25%,
    70% {
      translate: 0 0;
    }
    to,
    75% {
      translate: 0 -100%;
    }
  }
</style>
