<div class="project">
  <div class="img-project">
    <img
      src="https://denisechandler.com/wp-content/themes/portfolio_oct2021/images/banner_bkg.jpg"
      alt=""
    />
  </div>
  <div class="info-project">
    <h2>Message Hub</h2>
    <p>Pagina web de mensajeria, con diseño responsive, desarrollada con React y css Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium ratione illum, ad earum eius impedit quisquam molestias eveniet enim voluptas dicta mollitia, ex laborum atque rerum aperiam magnam consequatur possimus.</p>
    <div class="links-project" >
      <a href="">ver demo</a>
      <a href="">conocer mas</a>
    </div>
  </div>
</div>

<style>
  .project {
    width: 80dvw;
    margin-left: 15dvw;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    gap: 30px;
    color: black;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  .img-project {
    width: 100%;
    height: 100%;
    position: relative;
  }
  img {
    aspect-ratio: 1/1;
    width: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
  }
  .info-project {
    display: grid;
    gap: 1rem;
  }
  .links-project{
    display: flex;
    justify-content: space-between;
  }
</style>
